.entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5em;
    width: 33%;
    position: relative;
    height: 100%;
    padding-inline: 1em;
    flex: 0 1 auto;
    --animationDuration: 0.5s;
    --transformOriginal: translateY(30em);
    transform: var(--transformOriginal);
    animation: flyIn var(--animationDuration) forwards cubic-bezier(0.12, 0.63, 0.44, 1.18);
}

.entry::before {
    content: "";
    display: block;
    position: absolute;
    height: 300%;
    width: 100%;
    filter: brightness(0.8) saturate(1.5);
    background: var(--accent1);
    border-radius: 1em;
    top: 3em;
}

.pfpContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    width: 6em;
    position: relative;
}

.pfp {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 100%;
    outline: 0.25em solid var(--border);
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1;
}

.username {
    width: 100%;
    font-weight: 600;
    text-align: center;
    overflow: hidden;
}

.score {
    font-size: 1.25em;
}

.firstPlace {
    order: 1;
    top: -3em;
    --border: var(--gold);
    animation-delay: calc(2 * var(--animationDuration));
}

.secondPlace {
    order: 0;
    top: -1em;
    --border: var(--silver);
    animation-delay: calc(1 * var(--animationDuration));
}

.thirdPlace {
    order: 2;
    top: 1em;
    --border: var(--bronze);
}

@keyframes flyIn {
    0% {
        transform: var(--transformOriginal);
    }

    100% {
        transform: none;
    }
}

@media only all and (min-width: 360px) {
    .username {
        font-size: 1.25em;
    }
}

@media only all and (min-width: 720px) {
    .username {
        font-size: 1.5em;
    }
}